*{
	border: 0;
	padding: 0;
	margin: 0;
	
}
#header{
background-color: red;
z-index: 1;
margin-bottom:20px;
}
#h1-header{
	color: #fff;
	font-size: arial;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 8px;
}
.h3-header{
	color: #fff;
	font-size: arial;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 2px;
}
.link-cabecalho{
	text-decoration: none;
	color: white;
	word-spacing: 25px;
	font-size: 17spx;
	font-family: arial;
}
#navegacao{
	text-align: right;
	padding-right: 7px;
	color:#fff ;
}

.promocao{
	color: #fff;
	background-color: red;
	margin: 0 auto;
	text-align: center;
	width: 90%;
	height: 100px;
	border-radius: 50px;
	font-family: arial;
	font-size: 20px;
	padding-top: 30px;
}
#produto {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}
#produto .sabores{
	margin: 10px;
	border: 2px solid red;
	border-radius: 25px;
	text-align: center;
	background-color: red;
	font-size: 20px;
	color: #fff;
}
#cabecalho{
	position:relative;
	background: linear-grandient(to right,#c72992,#6c14d0);
	background-clip: text;
	/*-webkit-text-fill-color: transparent;*/
}
input{
	display: block;
	margin: 10px;
	padding: 10px;
	color: #b3b3b3;
    width: 200px;
    border-radius: 10px;	
}
label{
	font-size: 20px;
}

#produto .sabores p{
	font-size: 125% ; 
}
#produto .sabores img{
	width: 260px;
	border-radius: 25px;
}
#produto .sabores button{
	font-size:20px;
	padding:15px;
	margin:15px;
	border-radius:10px;
	color:white;
	background:#801828;
}
.link-cabecalho{
	font-weight:bold;
	font-family:arial;
	
}
.link-cabecalho:hover{
	color:yellow;
	transition:all ease-in-out 3ms;
}

.endereco-entrega{
    color: black;
	font-size: arial;
	padding: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 50px;
	
}
.endereco-entrega h2 img{
	width: 30px;
}

#wrongPassword{
    margin: 10px 5px;
}

#wrongPassword span{
    padding: 5px;
    color : #741212;
    align-items:center ;
}

header nav{
    position: relative;
    padding:10px;
}

header nav img{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    width: 250px;
}

section {
    position: relative;
    padding: 10px;
}
#access{
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 300px;
    border: 1px solid rgb(93, 152, 230);
    border-radius: 10px;
    padding: 20px;
}

#fade{
  position: absolute;
  top: 0 ;
  bottom: 0;
  width: 100%;
  height: 806px ;
  background-color:rgba(0, 0, 0, 0.4) ;
  z-index: 5;  
}
#modal_card{
    position: relative;
    top:30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border:1px solid #4fa81b;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    z-index: 7;
    background-color: #fff;
    box-shadow: 5px 5px 10px black;
    padding: 10px;
    
}

#fade,#modal_card{
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
	
}
#model_hide{
	border: 20px;
}

#fade.hide,
#modal_card.hide{
    opacity: 0;
    pointer-events: none;
    z-index: -5;
	
	

}
#modal_card fade{
	flex-wrap: wrap;
}
#modal_card label{
	display: block;
	width: 200px;
	margin: 10px 10px 10px 40px;
	
 }
 #modal_card input{
	 padding: 10px;
	 border: 1px solid #c3c3c3;
	 border-radius: 5px;
 }
 #butom_modal{
	 width: 200px;
	 margin-left: 10px;
	 
 }

/*-----------side menu  cadastrar pessoas-----------*/

#header_home{
    background-color: rgb(99, 178, 209);
    border-bottom:2px solid  rgb(56, 141, 167);
}

#side_menu{
    border-right:2px solid  rgb(56, 141, 167);
    background-color: rgb(99, 178, 209);
    width: 20%;
    height: 560px;
}

#side_menu ul{
    background-color: rgb(99, 178, 209);
  width: 100%;
}

#side_menu ul li{
    border-bottom: 2px solid white;
    width: 100%;
    padding: 5px;
}

#side_menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;	
	
}
#side_menu ul li b{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;



